<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <%- include('../Partials/MainNav.ejs') %>

    <div class="container">
        <div class="row justify-content-md">
            
            <% for (var i=0; i < Apps.length ; i++) { %>
                <div class="col-md-auto py-4">
        
                    <form action="/RequestApp/<%= Apps[i][0] %>"method="post">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= Apps[i][0] %></h5>
                                <button class="btn btn-dark" type="submit">Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>
            <% for (var i=0; i < requestedApps.length ; i++) { %>
                <div class="col-md-auto py-4">
        
                    
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= requestedApps[i][0] %></h5>
                                <button disabled class="btn btn-dark" type="submit">Requested</button>
                            </div>
                        </div>
                    
                </div>
            <% } %>
        </div>
    </div>

    <%- include('../Partials/Footer.ejs') %>
</body>
</html>